@import url('https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Sigmar+One&display=swap');

h1, h2, h3, h4 {
    font-weight: 700;
    color: #DF8637;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, #FBF0DD 39.9%, #F4DEB6 143.11%);

    font-family: 'Averia Sans Libre', sans-serif;
    color: #9B5E2F;
}

.logo {
      width: 800px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 4rem;
      margin-bottom: 2rem;
      filter: drop-shadow(0 0 2rem rgba(141, 86, 8, 0.2));

      img {
        width: 100%;
      }
}

.button {
      display: inline-block;
      background-color: #D38138;
      color: white;
      font-weight: bold;
      text-decoration: none;
      padding: 1rem 2rem;
      border-radius: 5px;
      font-size: 1.2rem;
      transition: background-color 0.3s ease;
}
.button:hover {
background-color: #B96123;
}
